@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Vidaloka&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #212f45;
		--primary-light: #2f4268;
		--primary-dark: #162028;
		--secondary: #234b54;
		--black: #0f1215;
		--white: #f0f0f0;
	}
}

html {
	height: 100vh;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
	font-family: 'Lato', sans-serif;
	/* overflow: hidden; */
}

* {
	font-family: 'Lato', sans-serif;
}

body,
#root,
#modal-root,
#toast-root,
#image-root,
.App {
	height: 100%;
	width: 100%;
}

#modal-root,
#toast-root,
#image-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
}

.App {
	display: flex;
	flex-direction: column;
}
