@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Vidaloka&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #212f45;
		--primary-light: #2f4268;
		--primary-dark: #162028;
		--secondary: #234b54;
		--black: #0f1215;
		--white: #f0f0f0;
	}
}

html {
	height: 100vh;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
	font-family: 'Lato', sans-serif;
}

body,
#root,
#modal-root,
#toast-root,
.App {
	height: 100%;
	width: 100%;
}

#modal-root,
#toast-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: #5cb0ff;
	&:hover {
		color: #4fe5ff;
		text-decoration: underline;
	}
	@apply transition-colors duration-150;
}

.fade-in-out {
	animation: fade-in-out 5s;
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
